html{
    scroll-behavior: smooth;
}
body{
    margin:0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
.navbar-list{
    display: flex;
    list-style-type: none;
}
.list{
    display: flex;
    list-style-type: none;
}
.link{
    text-decoration: none;
    color: rgb(22, 22, 22);
}
.link-gray{
    color:rgb(118,118,118);
}
.list-item{
    text-transform: capitalize;
    padding-inline: 10px;
}
.brand{
    padding-inline-start: 15px;
    font-family: 'Lilita One', cursive;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.search-box{
    background-color: #fff;
    padding: 8px 10px;
    width: 40%;
    border-radius: 20px;
    background-color: rgb(233,233,233);
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-box input{
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    width: 100%;
}
.search-box input::placeholder{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.img-container-x-small{
    width: 16px;
    height: 16px;
    overflow: hidden;
}
.round{
    border-radius: 50%;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.border{
    border: 1px solid rgb(118,118,118);
}
.container{
    width: 100%;
    height: auto;
    position: relative;

}
.padding-for-container{
    box-sizing: border-box;
    padding: 10px;
}
.card{
    width: 230px;
    border-radius: 15px;
    position: relative;
    margin: 10px 10px;
    overflow: hidden;
    
}
.content .top{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-inline: 10px;
}
.content .top .list-item{
    color: #fff;
    padding-inline: 0px;
}
.content .btn{
    padding: 8px 15px;
    border-radius: 17px;
    border: none;
    color: #fff;
    background-color: rgb(230,0,36);
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.content .bottom{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.round-small{
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(229,230,232);
    color: rgb(48,48,48);
}
.content{
    display: none;
}
.card:hover .content{
    display: block;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,250px);
    justify-content: center;
    grid-auto-rows: 10px;
}
.card-small{
    grid-row-end: span 24;
}

.card-medium{
    grid-row-end: span 35;
}

.card-large{
    grid-row-end: span 40;
}
.card img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.btn-red{
    padding: 8px 15px;
    border-radius: 17px;
    border: none;
    color: #fff;
    background-color: rgb(230,0,36);
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.btn-gray{
    padding: 8px 15px;
    border-radius: 17px;
    border: none;
    color: rgb(48,48,48);
    background-color: rgb(239,239,239);
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
}
.comment-box{
        background-color: #fff;
        padding: 8px 10px;
        width: 100%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        border: 0.8px solid rgb(118,118,118);
}
.input{
    width: 100%;
    border: none;
    outline: none;
}
.input::placeholder{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.gap-10{
    gap: 10px;
}

.load-more-btn{
    padding: 10px 16px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    margin: 10px auto;
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
    color: #252525;
    background-color: #ffff;
    border: 0.7px solid #808080;
}

.up-link{
    position: fixed;
    right: 15px;
    bottom: 15px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgb(230,0,36);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

@media screen and (max-width:720px){
    .navbar-list{
        display: none;
    }
    .search-box{
        background-color: #fff;
        padding: 8px 10px;
        width: 100%;
        border-radius: 20px;
        background-color: rgb(233,233,233);
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
.collapse-close{
    height: 0px;
    overflow: hidden;
    transition: 2ms ease-in-out;
}
.fullview-img-container{
    width: 95%;
    height: auto;
    position: absolute;
    background-color: #fff;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.fullview-open{
    display: block;
}
.ms-3{
    margin-left: 25px;
}
.cutoff-text{
    --max-lines: 2;
    --line-height: 1.4;
    height: calc(var(--max-lines) * 1em * var(--line-height));
    line-height: var(--line-height);
    overflow: hidden;
}
.ms-auto{
    margin-right: 0px;
    display: block;
}